body {
	margin: 0 0;
}

.wrap {
	margin: 0 auto;
	width: 50rem;
	height: 37.5rem;
}

.head {
	height: 6.25rem;
	background-color: antiquewhite;
	
	font-size: 4rem;
	text-align: center;
}

.main {
	height: 31.25rem;
	background-color: azure;
}